@import "bootstrap";

body {
    background-color: #141414;
    overflow-x: hidden;
    textarea {
        resize: none;
        min-height: 100px;
    }
}

// Media Queries //

@media (min-width: 50px) and (max-width: 400px) {
   .navbar-brand {
       margin-left: 0 !important;
   }
  }

// Login Page Styling //

.login-page {
    position: relative;
    height: 400vh;
    padding-top: 150px;
    .login-container {
        text-align: center;
        max-width: 450px;
        border: 1px solid black;
        padding: 15px;
        color: #fff;
        background-color: #141414;
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 100px;
        padding-top: 40px;
        padding-bottom: 40px;
        input {
            background-color: #333232;
            border: #333232;
        }
        .form-check {
            display: flex;
            justify-content: space-between;
            .remember-me {
                width: 174px;
                text-align: start;
                label {
                    color: #808080;
                }
            }
            .forgot {
                width: 174px;
                text-align: end;
                a {
                    color: #808080;
                }
                a:hover {
                    color: #808080;
                    text-decoration: none;
                }
            }
        }
        h3 {
            text-transform: uppercase;
        }
        input:focus {
            box-shadow: 0 0 0 0.2rem #ff1654;
        }
        .input {
            height: 50px;
            padding-left: 20px;
            font-size: 15px;
            font-weight: 700;
            border-radius: 0 !important;
        }
        .btn {
            height: 50px;
            text-transform: uppercase;
            font-weight: 500;
            border-radius: 0 !important;
            background-color: #ff1654;
            border-color: #ff1654;
        }
        .btn:active {
            background-color: #ff1654;
            border-color: #ff1654;
        }
    }
}

.login-page::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 100%;
    top: -50%;
    left: -30%;
    z-index: -1;
    background-repeat: repeat;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.9)), url('https://res.cloudinary.com/areeba/image/upload/v1606843740/BeFunky-collage_2.jpg') 0 0 repeat;
    transform: rotate(-30deg);
}

// Signup page styling //

.signup-page {
    position: relative;
    height: 400vh;
    padding-top: 120px;
    .signup-container {
        text-align: center;
        max-width: 450px;
        border: 1px solid black;
        padding: 15px;
        color: #fff;
        background-color: #141414;
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
        input {
            background-color: #333232;
            border: #333232;
        }
        h3 {
            text-transform: uppercase;
        }
        input:focus {
            box-shadow: 0 0 0 0.2rem #ff1654;
        }
        .input {
            height: 50px;
            padding-left: 20px;
            font-size: 15px;
            font-weight: 700;
            border-radius: 0 !important;
        }
        .btn {
            height: 50px;
            text-transform: uppercase;
            font-weight: 500;
            border-radius: 0 !important;
            background-color: #ff1654;
            border-color: #ff1654;
        }
        .btn:active {
            background-color: #ff1654;
            border-color: #ff1654;
        }
        a {
            color: #808080;
            font-weight: 600;
            text-transform: uppercase;
        }
        a:hover {
            color: whitesmoke;
            text-decoration: none;
            font-weight: 600;
        }
    }  
}

.signup-page::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 100%;
    top: -50%;
    left: -30%;
    z-index: -1;
    background-repeat: repeat;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.9)), url('https://res.cloudinary.com/areeba/image/upload/v1606843740/BeFunky-collage_2.jpg') 0 0 repeat;
    transform: rotate(-30deg);
}

// Navbar Styling //

.navbar {
    margin-top: 0;
    background-color: transparent !important;
    overflow: hidden;
    width: 100vw;
    height: 90px;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.3) 10%,rgba(0,0,0,0)); 
    z-index: 3;
    position: fixed;
    top: 0;
	transition: all 500ms ease-in-out;
    .navbar-brand {
        font-weight: bolder !important;
        font-size: 20px !important;
        color: #f2f2f2;
        margin-left: 40px;
    }
    .navbar-brand:hover {
        color: #f2f2f2;
    }
    .nav-link {
        float: left;
        display: block;
        color: #f2f2f2 !important;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
    }    
    .navbar-signup { 
        float: right;
        display: block;
        width: 150px;
        font-size: 17px;
        height: 40px;
        button {
            padding: 1.7rem;
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
            border: none;
            font-size: 15px;
            background-color: #ff1654;
            line-height: 2.4rem;
            font-weight: 500;
            letter-spacing: 1px;
            color: #fff;
            text-transform: uppercase;
        }   
        button:focus {
            outline: none !important;
            border: none;
        }
    //  a {
    //      background-color: aquamarine;
    //      padding-left: 2.5rem;
    //      padding-right: 2.5rem;
    //      padding-top: 1.5rem;
    //      padding-bottom: 1.5rem;
    //  }
    }
}

.opaque {
    background-color: #141414 !important;
    height: 70px !important;
}

// Footer styling //

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #202020;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
}

// Movie show page styling //

.movie-show-container {
    .center{
        width: 100vw;
        height: 100vh;
        img {
            position: absolute;
            //object-fit: cover;
            //object-position: 50% 0%;
        }
    }
    .movie-title {
        text-align: center;
        color: white;
        font-size: 50px;
        z-index: 1;
	    height: 100vh;
	    position: absolute;
	    width: 100%;
	    background: linear-gradient(transparent,rgba(19,21,21,0.2), rgba(19,21,21,0.3),rgba(19,21,21,0.4), rgba(19, 21, 21, 0.5),rgba(19, 21, 21, 0.6),rgba(19, 21, 21, 01), rgba(19,21,21, 01));
	    display: flex;
	    flex-direction: column;
	    justify-content: flex-end;
	    flex-wrap: wrap;
	    flex-grow: 1;
	    padding-left: 50px;
	    padding-right: 50px;
        top: 0;
        margin-top: 10vh;
    }
    .ratings {
        margin-bottom: 10%;
        margin-left: 15%;
        margin-top: 10px;
    }
    .movie-page-content {
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 50px;
        max-width: 900px;
        margin-top: 80px;
        .watch-btns {
            text-align: center;
            margin-top: auto;
            margin-bottom: auto;
            padding-top: 40px;
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
        .rm-watch {
            color: #808080;
        }
        .watch-button {
            padding-left: 25px;
            padding-right: 30px;
            width: 80%;
            background-color: #ff1654;
            height: 40px !important;
            color: white;
            text-transform: uppercase;
            font-weight: 500;
            border-radius: 0 !important;
            border-color: #ff1654;
        } 
        .watch-button:focus {
            background-color: #ff1654;
            border: #ff1654;
            outline: none;
        }
        .container-description{
            color: white;
            padding-top: 40px;
            padding-left: 10px !important;
            padding-right: 10px !important;
            p {
                margin-bottom: 0 !important;
            }
        }
    }
    .review-section {
        .review-form {
            max-width: 950px;
            height: 126px;
            margin-bottom: 20px;
            form {
                margin-left: 20px;
                margin-right: 20px;
            }
            textarea {
                width: 100%;
                background-color: #333232;
                border: #333232;
                height: 50px;
                padding-left: 20px;
                font-size: 15px;
                font-weight: 700;
                border-radius: 0 !important;
            }
            textarea:focus {
                box-shadow: 0 0 0 0.2rem #ff1654;
                outline: none;
            }
            input {
                padding-left: 25px;
                padding-right: 30px;
                background-color: #ff1654;
                height: 40px !important;
                color: white;
                float: right;
                text-transform: uppercase;
                font-weight: 500;
                border-radius: 0 !important;
                border-color: #ff1654;
            }
            input:focus {
                outline: none;
            }
        }    
    }
    .review-show {
        max-width: 950px;
        .card-body {
            max-width: 100%;
            margin-left: 20px;
            margin-right: 20px;  
            font-size: 15px;
            color: #808080;
            border: 1px solid #363636;
            margin-bottom: 10px;
            p {
                margin-bottom: 0 !important;
            }
            .blockquote-footer {
                font-size: 12px;
            } 
            hr {
                background-color: #363636;
            }
            .card-email {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}

// Movie Index/root page styling //

.card-index-grid {
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 9fr));
    margin-top: 150px;
    .card {
        margin: 10px;
        position: relative;
        padding: 0px;
        display: flex;
        height: 300px;
        min-width: 250px;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        color: white;
        background: #242323;
        overflow: hidden;
        border: none;
        .card-name {
            top: 100% !important;
            padding-top: 100px !important;
            z-index: 2;
            a {
                color: white;
                text-decoration: none;
                height: 100%;
                padding: 50px;
                padding-top: 100px;
                font-weight: 600;
                font-size: 25px;
	            width: 100%;
                text-overflow: ellipsis;
                display: block;
	            white-space: nowrap;
	            overflow: hidden;
            }
        }
        .card-name-overlay {  
            position: absolute;
            top: 0; 
            right: 0; 
            bottom: 0; 
            left: 0;
            background: linear-gradient(transparent,rgba(19,21,21,0.3), rgba(19,21,21,0.6),rgba(19,21,21,0.7), rgba(19, 21, 21, 0.8),rgba(19, 21, 21, 0.9),rgba(19, 21, 21, 0.9), rgba(19,21,21, 01));
            background-color: rgba(0, 0, 0, 0.03);
            color: #fff;
            overflow: hidden;
            text-align: center;
            width: 100%; 
            -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
            -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
            transition: top 0.65s, right 0.65s, bottom 0.65s, left 0.65s;
        }
        .card-overlay {
            margin-bottom: 0;
            background-color: rgba(0, 0, 0, 0.03);
            width: 250px;
            font-weight: 600;
            font-size: 25px;
            z-index: 1;
            height: 50%;
            position: absolute;
            width: 100%;
            background: linear-gradient(transparent, rgba(19, 21, 21, 0.5), rgba(19,21,21, 01));
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            flex-wrap: wrap;
            flex-grow: 1;
            padding-left: 50px;
            padding-right: 50px;
            bottom: 0;
            color: white;
            text-align: center;
        }
        a {
            padding: 0px;
            margin: 0px;
            overflow: hidden;
            width: 100%;
            height: 100%;
            img {
                padding: 0px;
                margin: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .card:hover {
        border: 1px solid #141414;
        .card-name {
            top: 0 !important;
            padding-top: 100px !important;
            z-index: 2;
            a {
                color: white;
                height: 100%;
                padding: 20px;
                padding-top: 100px;
                text-decoration: none;
                font-weight: 600;
                font-size: 25px;
                width: 100%;
                text-overflow: ellipsis;
                display: block;
	            white-space: nowrap;
	            overflow: hidden;
            }
        }
    }
}

.index-page-heading {
    z-index: 1;
	height: 100%;
	position: absolute;
	width: 100%;
	background: linear-gradient(transparent,rgba(19,21,21,0.2), rgba(19,21,21,0.4),rgba(19,21,21,0.5), rgba(19, 21, 21, 0.6),rgba(19, 21, 21, 0.7),rgba(19, 21, 21, 01), rgba(19,21,21, 01));
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-wrap: wrap;
	flex-grow: 1;
	padding-left: 50px;
	padding-right: 50px;
    top: 0;
    color: white;
    text-align: center;
    margin-top: 20vh;
}

.paginate{
	margin-left: 600px;
}

.poster {
    margin-top: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
    img {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
    }
}

// New Movies styling //

.new-movie-page {
    padding-top: 80px;
    .container-new-movie {
        text-align: center;
        max-width: 500px;
        border: 1px solid black;
        padding: 15px;
        color: #fff;
        background-color: #141414;
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 100px;
        padding-top: 40px;
        padding-bottom: 40px;
        input, textarea {
            background-color: #333232;
            border: #333232;
        }
        .form-control-file::-webkit-file-upload-button {
            display: none;
        }
        .form-control-file::before {
          content: 'Select some files';
          display: inline-block;
          background: linear-gradient(top, #f9f9f9, #e3e3e3);
          border: 1px solid #999;
          border-radius: 3px;
          padding: 5px 8px;
          outline: none;
          white-space: nowrap;
          -webkit-user-select: none;
          cursor: pointer;
          text-shadow: 1px 1px #fff;
          font-weight: 600;
          font-size: 10pt;
        }
        .form-control-file:hover::before {
          border-color: black;
        }
        .form-control-file:active::before {
          background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
          color: black;
        }
        .form-control-file {
            padding: 10px;
	        text-overflow: ellipsis;
	        display: block;
	        white-space: nowrap;
	        overflow: hidden;
        }
        .form-control-file:focus {
            outline: none !important;
        }
        h3 {
            text-transform: uppercase;
        }
        input:focus {
            box-shadow: 0 0 0 0.2rem #ff1654;
        }
        textarea:focus {
            box-shadow: 0 0 0 0.2rem #ff1654;
        }
        .input {
            height: 50px;
            padding-left: 20px;
            font-size: 15px;
            font-weight: 700;
            border-radius: 0 !important;
        }
        .btn {
            height: 50px;
            text-transform: uppercase;
            font-weight: 500;
            border-radius: 0 !important;
            background-color: #ff1654;
            border-color: #ff1654;
        }
        .btn:active {
            background-color: #ff1654;
            border-color: #ff1654;
        }
    }
}

// Users Profile show page //
  
.user-profile-title {
  text-align: center;
  margin-top: 80px;
  padding: 20px;
  color: white;
}

.profile-container {
    margin-bottom: 50px;
    img {
        width: 200px;
        height: 300px;
        margin: 8px;
    }
    .profile-watchlist {
        margin-top: 50px;
    }
    .profile-title {
        display: inline-block;
        color: white;
        margin-right: 10px;
    }
    a {
        color: #ff1654;
    }
}

// Watchlist Page Styling //

.watchlist-container {
    max-width: 800px;
    margin-top: 100px;
    .watchlist-title {
        color: white;
        text-align: center;
        padding-bottom: 50px;
        font-size: 60px;
    }
    .watchlist-card {
        margin-bottom: 20px;
        margin-top: 20px;
        background-color: #1b1b1b;
        .center {
            display: flex;
            img {
                width: 200px;
                height: 300px;
                object-fit: cover;
            }
            .watchlist-div {
                display: flex;
                flex-direction: column;
                color: white;
                padding: 20px;
                height: 300px;
                width: 100%;
                h5 {
                    font-weight: normal;
                    font-size: 16px;
                }
            }
            .watchlist-card-name {
                height: 100%;
	            text-overflow: ellipsis;
	            display: block;
	            white-space: nowrap;
                overflow: hidden;
                width: 200px;
            }
            .watchlist-card-description {
	            text-overflow: ellipsis;
	            display: block;
	            white-space: normal;
                overflow: hidden;
                height: 230px;
                margin-bottom: 40px;
            }
            .watchlist-card-btn {
                margin-top: 50px;
                text-transform: uppercase;
                color: white;
                background-color: #ff1654;
                font-weight: 600;
                border: #ff1654;
            }
            .watchlist-card-btn:focus {
                box-shadow: none !important;
                outline: none;
                border: #ff1654;
            }
        }
    }
}

// Watched Movies Page Styling //

.watched-container {
    max-width: 800px;
    margin-top: 100px;
    .watched-title {
        color: white;
        text-align: center;
        padding-bottom: 50px;
        font-size: 60px;
    }
    .watched-card {
        margin-bottom: 20px;
        margin-top: 20px;
        background-color: #1b1b1b;
        .center {
            display: flex;
            img {
                width: 200px;
                height: 300px;
                object-fit: cover;
            }
            .watched-div {
                display: flex;
                flex-direction: column;
                color: white;
                padding: 20px;
                height: 300px;
                width: 100%;
                h5 {
                    font-weight: normal;
                    font-size: 16px;
                }
            }
            .watched-card-name {
                height: 100%;
	            text-overflow: ellipsis;
	            display: block;
	            white-space: nowrap;
                overflow: hidden;
                width: 200px;
            }
            .watched-card-description {
	            text-overflow: ellipsis;
	            display: block;
	            white-space: normal;
                overflow: hidden;
                height: 230px;
                margin-bottom: 40px;
            }
            .watched-card-btn {
                margin-top: 50px;
                text-transform: uppercase;
                color: white;
                background-color: #ff1654;
                font-weight: 600;
                border: #ff1654;
            }
            .watched-card-btn:focus {
                box-shadow: none !important;
                outline: none;
                border: #ff1654;
            }
        }
    }
}